<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>About Me</h1>
      <img
        src="img/yusufbagussh.png"
        class="img-thumbnail rounded-circle"
        width="200"
        alt="yusufbagussh"
      />
      <h4 class="display-4">Yusuf Bagus Sungging Herlambang</h4>
      <p class="lead">Junior Programmer | Web Development Enthusiast</p>
    </div>
  </div>
</div>
